@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Dots */
#slick-slide-control00{color:transparent;}
#slick-slide-control01{color:transparent;}
#slick-slide-control02{color:transparent;}
.slick-dots
{
    position: absolute;

    display: block;
    top:100px;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
}
.slick-dots li
{
    position: relative;

    width: 500px;
    height: 100px;
    margin: 25px 100px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    color:#333;
    opacity:0.5;
}
.slick-dots li button:before
{
    font-size: 100px;
    text-align: left;
    font-weight: 800;
    font-family: 'Mukta', sans-serif;

    position: absolute;
    top: 150px;
    left: 0;

    width: 1000px;
    height: 100px;

    opacity: .25;
    color: #333;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li:nth-child(1) button:before{
  content: '20 HOT SUMMER';
}
.slick-dots li:nth-child(2) button:before{
  content: '20FW NEW ARRIVAL';
}
.slick-dots li:nth-child(3) button:before{
  content: '20FW NEW BAGS';
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #333;
    text-shadow: 5px 5px 0 #fff562;
}
