@charset "utf-8";

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-webkit-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background: #fff;
  font-family: 'Mukta', sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  letter-spacing: -0px;
  overflow-x: hidden;
  padding-top: 60px;
}

html, body {
  width: 100%;
  height: 100%;
  letter-spacing: 0px;
}

div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd, em, sup {
  padding: 0px;
  margin: 0px;
}

ul, ol, dl, dd, dt, li {
  list-style-type: none;
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  border: 0;
  vertical-align: middle;
  outline: none;
}

a, a:link, a:visited, a:active {
  color: inherit;
  letter-spacing: normal;
  text-decoration: none;
  letter-spacing: -0.8px;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

img {
  width: 100%;
}

h2 {
  font-size: 50px;
  text-align: center;
  line-height: 150px;
}

.center {
  margin: 0 auto;
  width: 80%;
}

#wrap {
  width: 100%;
}

/* header */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: 0.5s;
  background-color: #fff;
}

#logo {
  width: 100px;
  position: relative;
  top: 5px;
  left: 50%;
  margin-left: -50px;
  float: left;
  z-index: 5;
}

.navInner {
  display: none;
}

/* on */
.navWrap.on {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
  transition: 0.5s;
  height: 100vh;
}

.navWrap.on .navInner {
  display: block;
  padding-top: 150px;
}

.navInner ul li {
  text-align: center;
  margin-top: 40px;
  color: #d1373b;
  font-size: 50px;
  font-weight: 900;
}

.navInner ul li a:hover {
  color: #890000;
  font-size: 55px;
  transition: 0.5s;
}

/*nav btn*/
.navBtn {
  float: right;
  width: 40px;
  height: 40px;
  margin: 10px 20px;
  line-height: 60px;
}

.navBtn span {
  position: relative;
  float: right;
  width: 33px;
  height: 5px;
  background: linear-gradient(to right, #d1373b, #ac2409);
}

.navBtn span:before, .navBtn span:after {
  position: absolute;
  right: 0;
  content: "";
  width: 33px;
  height: 5px;
  background: linear-gradient(to right, #d1373b, #ac2409);
  transition: 0.5s;
}

.navBtn span:before {
  top: -10px;
}

.navBtn span:after {
  top: 10px;
}

.navWrap.on .navBtn span {
  background: transparent;
  transition: 0.5s;
}

.navWrap.on .navBtn span:before, .navWrap.on .navBtn span:after {
  top: 0;
  right: 0;
  transform-origin: center;
  transition: 0.5s;
}

.navWrap.on .navBtn span:before {
  transform: rotate(45deg);
}

.navWrap.on .navBtn span:after {
  transform: rotate(-45deg);
}

/*nav btn*/
/*header*/
img {
  max-width: 100%;
}

.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 55%;
  margin: 0 auto;
}

.cd-image-container img {
  display: block;
}

.cd-image-label {
  font-size: 26px;
  font-weight: 800;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 1em;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-image-label.is-hidden {
  visibility: hidden;
}

.is-visible .cd-image-label {
  opacity: 1;
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

.is-visible .cd-resize-img {
  width: 50%;
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }

  60% {
    width: 55%;
  }

  100% {
    width: 50%;
  }
}

@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }

  60% {
    width: 55%;
  }

  100% {
    width: 50%;
  }
}

@keyframes cd-bounce-in {
  0% {
    width: 0;
  }

  60% {
    width: 55%;
  }

  100% {
    width: 50%;
  }
}

.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #d1373b url("../img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

.cd-handle.draggable {
  background-color: #d24d57;
}

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

#main {
  background-size: 100%;
  width: 100%;
  height: 75vh;
  background-image: url("../img/main-bg.jpg");
}

#main h2 {
  font-weight: bold;
  color: #fff;
}

.cd-image-container {
  border: 1px solid #fff;
}

/* section1 */
.count h3 {
  font-size: 36px;
  display: inline-block;
  background-color: #d1373b;
}

.count li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
}

.count li span {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.count {
  height: 200px;
  color: #333;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

/* section2 */
.time {
  width: 50%;
  height: 10vh;
  background-color: #000;
  margin: 50px auto;
  color: #fff;
  text-align: center;
}

#vs {
  overflow: hidden;
  position:relative;
}

.mid {
  width: 20%;
  left: 50%;
  bottom: 0;
  margin-left: -10%;
  position: absolute;
  transition: 0.5s;
  transform: matrix(1, 0, 0, 1, 0, 80);
  opacity: 0;
}

.left {
  width: 35%;
  float: left;
  margin-left: 10%;
  transition: 0.5s;
  transform: matrix(1, 0, 0, 1, -120, 0);
  opacity: 0;
}

.right {
  width: 35%;
  float: right;
  margin-right: 10%;
  transition: 0.5s;
  transform: matrix(1, 0, 0, 1, 120, 0);
  opacity: 0;
}

.on {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}

.ad {
  width: 100%;
  height: 40vh;
  background: url("../img/back.jpg") fixed;
  background-size: cover;
}

.ad h4 {
  color: #fff;
  font-size: 50px;
  filter: drop-shadow(0 0 10px #000);
  font-weight: bold;
  line-height: 40vh;
  text-align: center;
}

/* section2 */
/* section3 */
#news {
  width: 100%;
  margin: 100px auto;
}

#mainnews {
  padding: 5%;
}

#mainnews .img {
  width: 40%;
  height: 40vh;
  background-image: url("../img/mainnew.png");
  background-size: cover;
  transition: 0.5s;
}

#mainnews .img, #mainnews span {
  float: left;
}

#mainnews:hover .img {
  background-image: url("../img/mainnew2.png");
}

#mainnews span {
  width: 55%;
  margin-left: 5%;
  display: block;
}

#mainnews span h4 {
  font-size: 40px;
  line-height: 70px;
}

#mainnews p {
  font-size: 28px;
  line-height: 35px;
}

.grid {
  width: 80%;
  margin: 0 auto;
}

.item {
  width: 30%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  transition: 0.3s;
}

.item:hover {
  transform: scale(1.1);
}

.item img {
  width: 100%;
}

.item h4 {
  font-size: 30px;
  line-height: 40px;
}

@media only screen and (max-width:723px) {
  .item {
    width: 45%;
  }
}

/* section3 */
footer {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  background-color: #111;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  font-weight: 100;
}

footer p {
  width: 150px;
  margin: 30px auto;
}

footer p img {
  width: 150px;
}

/* ------------------media only screen------------------------- */
@media only screen and (max-width:1024px) and (min-width:769px) {
  #main {
    height: 48vh;
  }

  h2 {
    font-size: 40px;
    line-height: 90px;
  }

  .ad {
    height: 20vh;
  }

  .ad h4 {
    line-height: 20vh;
    font-size: 30px;
  }

  #mainnews .img {
    height: 20vh;
  }

  #mainnews span {
    width: 55%;
  }

  #mainnews span h4 {
    font-size: 40px;
    line-height: 50px;
  }

  #mainnews p {
    display: none;
  }

  .grid {
    width: 90%;
    margin: 0 auto;
  }

  .item h4 {
    font-size: 20px;
    line-height: 23px;
  }
}

@media only screen and (max-width:768px) {
  #main {
    height: 35vh;
    background-size: cover;
  }

  .count li {
    font-size: 1em;
  }

  .count li span {
    font-size: 30px;
    line-height: 30px;
  }

  h2 {
    font-size: 30px;
    line-height: 60px;
  }

  .ad {
    height: 10vh;
  }

  .ad h4 {
    line-height: 10vh;
    font-size: 25px;
  }

  #mainnews .img {
    width: 100%;
    height: 30vh;
  }

  #mainnews span {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #mainnews .img, #mainnews span {
    float: none;
  }

  #mainnews span h4 {
    font-size: 30px;
    line-height: 35px;
  }

  #mainnews p {
    display: none;
  }

  .grid {
    width: 90%;
    margin: 0 auto;
  }

  .item h4 {
    font-size: 20px;
    line-height: 23px;
  }

  footer {
    width: 100%;
    height: 250px;
    padding-top: 30px;
    background-color: #111;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    font-weight: 100;
  }

  footer p img {
    width: 80px;
  }

  footer p {
    width: 80px;
    font-size: 10px;
  }
}
